.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  min-height: 100vh;
  text-align: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;      
}

.todo_app{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #c2e7ff;
  width: 100vw;
  height: 60px;
  color: #001d35;
}
.todo_app_container{
  background: #f6f8fc;
  margin-top: 10vh;
  max-width: 580px;
  width: 580px;
}
